@using GameStore_mvc_internet.Models
@model Cart

<div class="navbar-right hidden-xs">
    @Html.ActionLink("Заказать", "Index", "Cart",
    new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "btn btn-default navbar-btn" })
</div>

<div class="navbar-right visible-xs">
    <a href=@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })
       class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </a>
</div>

<div class="navbar-text navbar-right" style="margin-bottom: 10px">
    <b class="hidden-xs" style="margin-top: -10px">@Resources.Resource.Cart</b>
    @Model.Lines.Sum(x => x.Quantity) игр,
    @Model.ComputeTotalValue().ToString("# грн")
</div>

<div style="margin-left: 33%">
    <a class="navbar-brand" href="~/#">
        <span class="hidden-xs">Новости</span>
    </a>
    <a class="navbar-brand" href="~/#">
        <span class="hidden-xs">О нас</span>
    </a>
    <a class="navbar-brand" href="~/#">
        <span class="hidden-xs">Доставка</span>
    </a>
    <a class="navbar-brand" href="~/#">
        <span class="hidden-xs">Контакты</span>
    </a>
</div>
